In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/angelesmarin/Desktop/hulu_data.csv")

### handle missing values

In [3]:
df.dropna(inplace=True) #drop columns & rows with na

### remove duplicates

In [5]:
df.drop_duplicates(inplace=True) #drop columns & rows with duplicates

### fix data types

In [12]:
df['releaseYear'] = pd.to_numeric(df['releaseYear'], errors='coerce')

In [10]:
df['imdbAverageRating'] = pd.to_numeric(df['imdbAverageRating'], errors='coerce')

In [14]:
df['imdbNumVotes'] = pd.to_numeric(df['imdbNumVotes'], errors='coerce')

In [ ]:
# ^numeric, if cant -> nan

In [13]:
df['imdbId'] = df['imdbId'].str.strip()  #remove leading/trailing spaces

In [15]:
df['title'] = df['title'].str.strip()

In [16]:
df['type'] = df['type'].str.strip()

In [18]:
df['genres'] = df['genres'].str.strip()

In [19]:
df['availableCountries'] = df['availableCountries'].str.strip()

In [11]:
# ^ non numeric

In [21]:
df.head(20)

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8801.0,JP
1,Shadows in Paradise,movie,"Comedy, Drama, Music",1986.0,tt0092149,7.5,7573.0,JP
2,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2324655.0,JP
3,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,518268.0,JP
4,My Life Without Me,movie,"Drama, Romance",2003.0,tt0314412,7.4,26068.0,JP
5,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,445282.0,JP
6,12 Monkeys,movie,"Mystery, Sci-Fi, Thriller",1995.0,tt0114746,8.0,656753.0,JP
7,Million Dollar Baby,movie,"Drama, Sport",2004.0,tt0405159,8.1,734481.0,JP
8,War of the Worlds,movie,"Action, Adventure, Sci-Fi",2005.0,tt0407304,6.5,483794.0,JP
9,Memento,movie,"Mystery, Thriller",2000.0,tt0209144,8.4,1352530.0,JP
10,Blade Runner,movie,"Action, Drama, Sci-Fi",1982.0,tt0083658,8.1,839986.0,JP
11,Indiana Jones and the Raiders of the Lost Ark,movie,"Action, Adventure",1981.0,tt0082971,8.4,1056399.0,JP
12,Indiana Jones and the Temple of Doom,movie,"Action, Adventure",1984.0,tt0087469,7.5,544111.0,JP
13,Indiana Jones and the Last Crusade,movie,"Action, Adventure",1989.0,tt0097576,8.2,825651.0,JP
14,Armageddon,movie,"Action, Adventure, Sci-Fi",1998.0,tt0120591,6.7,459222.0,"JP, US"
15,All About My Mother,movie,"Comedy, Drama, Romance",1999.0,tt0185125,7.8,104978.0,JP
16,Predator,movie,"Action, Adventure, Horror",1987.0,tt0093773,7.8,468335.0,US
17,Pretty Woman,movie,"Comedy, Romance",1990.0,tt0100405,7.1,375858.0,JP
18,Match Point,movie,"Drama, Romance, Thriller",2005.0,tt0416320,7.6,231416.0,JP
19,Charlie and the Chocolate Factory,movie,"Adventure, Comedy, Family",2005.0,tt0367594,6.7,541821.0,JP

In [23]:
df.to_csv('/Users/angelesmarin/Desktop/cleaned_movie.csv', index=False)